img {
   border-radius: 10%;
}

body {
    background-image: url("https://static.vecteezy.com/ti/vetor-gratis/p3/2000150-geometrico-quadrado-rosa-fundo-pode-ser-usado-na-capa-design-livro-design-fundo-do-site-gratis-vetor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 